<app-navbar2></app-navbar2>
<div class="shadow">
        <div class="top-image"><img src="/assets/order.png"></div>
    
  <div class="row">

    <div class="col-md-2 col-sm-1"></div>

    <div class="col-md-4 col-sm-5 distance">
  <div class="para">Add your product size</div>

  <form (ngSubmit)="onSubmitSize(f)" #f="ngForm">
      <div class="form-group">
          <label  class="heading">Product Size</label>
          <input 
           class="form-control" 
           type=text 
           placeholder="enter product name"
           name="productSize"
           ngModel
           required
           #productSize="ngModel"
           >
           <span 
           *ngIf="!productSize.valid && productSize.touched"
           class="help-block">Please enter a product Size</span>
          </div>



          <div class="form-group">
              <label   class="heading">Product Price</label>
              <input 
               class="form-control" 
               type=number 
               placeholder="enter product name"
               ngModel
               name="productPrice"
               #productPrice="ngModel"
               >
               <span 
               *ngIf="!productPrice.valid && productPrice.touched"
               class="help-block">Please enter a product Price</span>
              </div>

              <div class="form-group">
                    <label   class="heading">Product Quantity</label>
                    <input 
                     class="form-control" 
                     type=number; 
                     placeholder="enter product quantity"
                     name="productQuantity"
                     ngModel
                     #productQuantity="ngModel"
                     >
                      <span 
                     *ngIf="!productQuantity.valid && productQuantity.touched"
                     class="help-block">Please enter a product Quantity</span>
                    </div> 

              <div class="center">
                  <button  class="Button"
                       
                      type="submit">
                      Submit
                    </button>


</div>
</form>
    </div>
  

<div class="col-md-4  col-sm-5 distance ">
    <div class="para">Your Product Sizes</div>

<div class="border">
  <div  class="row margin" *ngFor="let Size of Sizes,let i=index">

 
  <div class="col-xs-3">
   <span class="key"> Size </span> : <span class="value"> {{Size.productSize}} </span>
  </div>
  <div class="col-xs-3">
    <span class="key">Quantity</span> :<span class="value"> {{Size.productQuantity}} </span> 
  </div>
  <div class="col-xs-3">
   <span class="key"> price </span>: <span class="value"> {{Size.productPrice}} </span> 
  </div>
  
  <div class="col-xs-3">
      <button  (click)="deletesize(i)" class="Button"><span class="glyphicon glyphicon-trash"></span></button>
  </div>

</div> 

</div>
</div>

  </div>

</div> 
 