 <div class="shadow">
        <div class="top-image"><img src="/assets/order.png"></div>
    
  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-4">
  <form [formGroup]="SizeForm" (ngSubmit)="onSubmitSize()">

      <div class="form-group">
          <label id="ProductSize"  class="heading">Product Size</label>
          <input for="productSize"
           class="form-control" 
           type=text 
           placeholder="enter product name"
           formControlName="productSize"
           >
           <span 
           *ngIf="!SizeForm.get('productSize').valid && SizeForm.get('productSize').touched"
           class="help-block">Please enter a product Size</span>
          </div>



          <div class="form-group">
              <label id="ProductPrice"  class="heading">Product Price</label>
              <input for="productPrice"
               class="form-control" 
               type=text 
               placeholder="enter product name"
               formControlName="productPrice"
               >
               <span 
               *ngIf="!SizeForm.get('productPrice').valid && SizeForm.get('productPrice').touched"
               class="help-block">Please enter a product Price</span>
              </div>

              <div class="form-group">
                    <label   class="heading">Product Quantity</label>
                    <input for="productPrice"
                     class="form-control" 
                     type=text 
                     placeholder="enter product quantity"
                     formControlName="productQuantity"
                     >
                     <span 
                     *ngIf="!SizeForm.get('productQuantity').valid && SizeForm.get('productQuantity').touched"
                     class="help-block">Please enter a product Quantity</span>
                    </div>

              <div class="center">
                  <button 
                      class="submit" 
                      type="submit">
                      Submit
                    </button>
                  </div>
        


  </form>
</div>
<div class="col-md-1"></div>
<div class="col-md-4 border">

  <div  class="row" *ngFor="let Size of Sizes,let i=index">

 
  <div class="col-xs-2">
    Size:{{Size.productSize}}
  </div>
  <div class="col-xs-3">
   Quantity:{{Size.productQuantity}}
  </div>
  <div class="col-xs-3">
    price:{{Size.productPrice}} 
  </div>
  <div class="col-xs-2">
    <button class="Button">Edit</button>
  </div>
  <div class="col-xs-2">
      <button  (click)="deletesize(Size.PID,i)" class="Button"><span class="glyphicon glyphicon-trash"></span></button>
  </div>

</div> 

</div>
<div class="col-md-1"></div>
  </div>

</div> 
 