.background
{
     background:#F4F6F7  ;

}
.top-image
{
  margin-bottom:4%;
}

.submit
{
  background:#FAE5D3  ;   
  border:3px solid #FAE5D3 ;
   color:#1F618D;
  border-radius:3%;
  font-family: 'Montserrat', sans-serif;
  width:80px;
  font-weight:700;
  letter-spacing:2px;
  box-shadow:0px 0px 4px #B3B6B7 ;
  text-align:center;
  transition:box-shadow 2s;
  
  
}
.submit:hover{
  box-shadow:0px 0px 1px  #B3B6B7;
}
.message
{
    color:#5D6D7E;
    letter-spacing:1px;
    font-size:120%;
    margin-top:1%;
    font-weight:500;
}
input.ng-invalid.ng-touched
{
    border:1px solid red;
}
.help-block
{
    color:red;
}

.shadow
{

  background:#FAD7A0;
  margin-top:2%;
  padding:2%;
  border-radius:4%;
  box-shadow: 0px 0px 7px 1px #FDF2E9  ;
}
.center{
  text-align: center;
  padding: 0% 10%;
}
.button
{
  background:#FDEBD0;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color:#1F618D;
  font-weight:700;
  border:2px solid #FDEBD0;
  border-radius:4%;
  margin:2%;
  box-shadow:0px 0px 2px #D0D3D4 ;
  transition: box-shadow 0.4s;
  transition: color 0.2s;
   font-size:120%;   

  
}
.button:hover{
  box-shadow:0px 0px 0px #D0D3D4 ;
  color:#F7DC6F;

}
.image
{

  width:100%;
  height:200px
}
.heading,.heading2
{
  color:#2874A6 ;
  letter-spacing: 1px;
  font-size:120%;
  font-family: 'Montserrat', sans-serif;
  

}

.heading2{
  font-size:140%;
}