img
{
   width: 100%;
   height: 300px;
   box-shadow: 2px 2px 5px #D0D3D4 ;
}

.image
{
     padding: 5px;
     width: 250px;
     margin:5px ;

}
.margin
{
  padding-left: 7%;
  border-right: 2px #B3B6B7 solid;
}

.background
{
    
}
.font
{
    font-family: 'Open Sans', sans-serif;
}