.img
{
   width: 100%;
   box-shadow: 2px 2px 5px rgb(188, 195, 197) ;
}

.image
{
     padding: 5px;
     width: 260px;
     margin:1px ;

}

 .margin
{
  padding-left: 7%;
  border-right: 2px #B3B6B7 solid;
} 


.font
{
    font-family: 'Open Sans', sans-serif;
}
.background
{
  background:#F9E79F  ;
}
.bg-img
{
  background: url("/assets/detailsB.svg");
  background-repeat:no-repeat ;
  background-size:cover ;
  
}
.center
{
  font-size:250%;
  text-align: center;
  padding-top:7%;
  color: #1B4F72;
  letter-spacing: 2px;
}
.Button{
     
  background: #EB984E;
  color: white;
  border: 2px solid #EB984E;
  border-radius: 5px ;
  width:120px;
  opacity:0.8;
  
 transition: opacity 0.2s;
 
  margin: 10px 0px;
     }

.Button:hover
{
 opacity:1;
  

}   

.clicked
{
   background:red;
}


.brand,.name,.detail
{  
   color:#1B4F72 ; 
    font-Size:200%;   

} 
.spacing
{
   margin-bottom:3%;
}


.details{
   color:#2C3E50 ;
   font-size: 200%;
   font-family: 'Roboto Mono', monospace;

}
.padding
{
  padding-left:7%;
}
.key
{
  font-size: 200%;
  color:#2C3E50 ;
  font-family: 'Roboto Mono', monospace;
}
.size
{
    background:#E59866;
   width:40px;
   height:40px;
   border-radius: 100%;
   text-align:center;
   padding-top:13px;
   color:white ;
   font-size: 110%;
   box-shadow:0px 0px 2px  #E59866 ;
   transition: box-shadow 0.2s;
   cursor:pointer;
   box-shadow:0px 0px 0px 1px #E59866 ;

}
.size:hover{
  background:#DC7633;
  color:#D6EAF8;
  box-shadow:0px 0px 0px 0px #E59866 ;
  
}
.price
{
  
  color:#1F618D; 
  
}
.spacing2
{
  margin-bottom:1%;
}
@media screen and (max-width: 584px)
{
   .image
   {
    width: 160px;
    

   } 
   .margin{
     padding-left:15%
   } 
   
.brand,.name,.detail
{  
   color:#1B4F72 ; 
    font-Size:130%;   

} 
.key{
  font-Size:130%;
}
}
@media screen and (max-width: 584px)
{
  .margin
  {
    padding-left: 10%;
  }
  .brand,.name,.detail
{  
   color:#1B4F72 ; 
    font-Size:100%;   

} 
.key{
  font-Size:100%;
}
}
@media screen and (max-width: 354px)
{
  .image
   {
    width: 120px;
    

   } 
  .margin
  {
    padding-left: 10%;
  }
}
