.img
{
   width: 100%;
   box-shadow: 2px 2px 5px rgb(188, 195, 197) ;
}

.image
{
     padding: 5px;
     width: 250px;
     margin:5px ;

}
.margin
{
  padding-left: 7%;
  border-right: 2px #B3B6B7 solid;
}


.font
{
    font-family: 'Open Sans', sans-serif;
}
.background
{
  background:#FBFCFC   ;
}
.bg-img
{
  background: url("/assets/detailsB.svg");
  background-repeat:no-repeat ;
  background-size:cover ;
  
}
.center
{
  font-size:250%;
  text-align: center;
  padding-top:7%;
  color: #1B4F72;
  letter-spacing: 2px;
}
.Button{
     
  background: #E91D83;
  color: white;
  border: 2px solid #E91D83;
  border-radius: 5px ;
  height: 40px;
  width: 150px;

 
  margin: 10px  30px;
     }

.Button:hover
{
 
 background: #85C1E9 ;
 border-color:#85C1E9

}   
.text
{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}
.styling
{
  color:#21618C ;
  letter-spacing: 2px;
}
.alert
{
  text-align: center;
  margin:2% 10% ;
  box-shadow: 1px 1px 4px #B3B6B7 ;
  letter-spacing:2px;


}

