<div class="background" >
    
        <div class="bg-img row">
            <div class="col-xs-4 col-md-2"></div>
           
            <div class="col-xs-4 col-md-2">
            
                <img class="bgImg" src="/assets/details.svg">
            
            </div>
           
            
        
        </div>

<!-- 
      <div *ngIf="display" class="alert alert-info">
          
        <h3>Confirm Order</h3>
        
        <button class="btn btn-success " (click)="dplay()"><span class="text">confirm</span>!!</button>
      
    </div> -->

      <!-- <div *ngIf="added" class="alert alert-success">
          
        <h3> Added to bag</h3>
    
     <button class="btn btn-primary" (click)="orders()"><span class="text">ok</span></button>
    
    </div>
           -->
            

    <div class="row ">

        <div class="col-xs-6 margin">


            <div class="row border ">
             
            <div class="col-xs-6 image">
                
                 <img class="img" [src]="image1" alt="picture1"> 
                
            </div>


        
            <div class="col-xs-6 image">

                 <img class="img" [src]="image2" alt="picture1"> 

             </div>
    
    </div>
   
    <div class="row">
     
             <div class="col-xs-6 image">

                 <img  class="img"[src]="image3" alt="picture1"> 
                 
             </div> 
     
             <div class="col-xs-6 image">

                 <img  class="img" [src]="image4" alt="picture1">          
             </div>

    </div>

</div>
<div class="col-xs-6  padding ">

    <div  >
        
        <!-- <h3 class="font">{{product.productBrand}}</h3> -->
        <div class="spacing"><span class="key">Brand</span>: <span class="brand"> {{product.productBrand}}</span></div>
         
        <!-- <h3>{{product.productDetails}}</h3> -->
        <div class="spacing" ><span class="key">Product Name</span> : <span class="name">{{product.productName}}</span></div>

        <div class="detail spacing">{{product.productDetails}}</div>

        <div *ngFor=" let size of Sizes,let i =index">
        
       
             <div (click)="call(size.PID,index)" class="spacing2">  <div [class.size]="!clicked.index" [class.clicked]="clicked.index"> {{size.productSize}}</div><span class="price"> Rs  {{size.productPrice}} </span>  </div>

      
                
         
              </div>

        <div >
                <button class="Button" (click)="Add()"  >
                        <span class="text"> <span class="glyphicon glyphicon-shopping-cart"></span> Add to bag </span></button>
        </div>
        <div ><button class="Button" (click)="oneOrder()"  > <span class="text ">Order now  </span></button></div>
        
      
         </div>
    
     


</div>

</div> 

</div>