<div class="row background">
<div class="col-lg-6 margin">

    <div class="row border ">
             
            <div class="col-lg-6 image">
                
                <img [src]="product.picture1" alt="picture1">
                
            </div>
        
            <div class="col-lg-6 image">

                <img [src]="product.picture1" alt="picture1">

             </div>
    
    </div>
   
    <div class="row">
     
             <div class="col-lg-6 image">

                <img [src]="product.picture1" alt="picture1">
                 
             </div> 
     
             <div class="col-lg-6 image">

                <img [src]="product.picture1" alt="picture1">
         
             </div>

    </div>

</div>
<div class="col-lg-6 ">

    <div>
        <h1 class="font">{{product.productBrand}}</h1>
         
        <h1>{{product.productBrand}}</h1>
        <h2> Rs {{product.productPrice}}</h2>
        <h3>{{product.productDetails}}</h3>
    </div>
    
     

</div>
</div> 