<div class="background" >
    
        <div class="bg-img row">
            <div class="col-xs-4 col-md-2"></div>
            <div class="col-xs-4 col-md-2">
            
                <img class="bgImg" src="/assets/details.svg">
            
            </div>
            <div class="col-xs-3 col-md-5 center ">

                <span>Get your product details here</span>

            </div>
            <div class="col-xs-1 ">
                
            </div>
        
        </div>
          
            
<div class="row ">
<div class="col-lg-6 margin">

    <div class="row border ">
             
            <div class="col-lg-6 image">
                
                <img class="img" [src]="product.picture1" alt="picture1">
                
            </div>

        
            <div class="col-lg-6 image">

                <img class="img" [src]="product.picture1" alt="picture1">

             </div>
    
    </div>
   
    <div class="row">
     
             <div class="col-lg-6 image">

                <img  class="img"[src]="product.picture1" alt="picture1">
                 
             </div> 
     
             <div class="col-lg-6 image">

                <img  class="img" [src]="product.picture1" alt="picture1">
         
             </div>

    </div>

</div>
<div class="col-lg-6 ">

    <div class="styling">
        <h1 class="font">{{product.productBrand}}</h1>
         
        <h1>{{product.productBrand}}</h1>
        <h2> Rs {{product.productPrice}}</h2>
        <h3>{{product.productDetails}}</h3>

        <div >
                <button class="Button" (click)="orders()" >
                        <span class="text"> <span class="glyphicon glyphicon-shopping-cart"></span> Add to bag </span></button>
        </div>
        <div ><button class="Button"><span class="text">Order now  </span></button></div>
    </div>
    
     

</div>
</div> 
</div>