

<div  class="background">
        <div class="row">
                <div class="col-sm-5 col-md-6 display">
                       <img class="image"src="/assets/image.1.svg"> 
                </div>
                <div class=" col-sm-7 col-md-6 col-xs-12">
                    
                       <div class="form" >

                                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >

                                            <h1 class="heading">Signup</h1>
                                                    
                                                   <div class="width"> 
                                                    <input type="text" 
                                                    
                                                    id="yourName"
                                                    
                                                    placeholder="your-name"
                                                    
                                                    

                                                    class="form-control"
                                                    
                                                    name="yourName"
                                                    
                                                    ngModel
                                                    
                                                    required
                                                    
                                                    #yourName="ngModel"
                                                   >
                                                
                                                   <span 
                                                    
                                                   class="help-block" *ngIf="!yourName.valid && yourName.touched"  > please enter your name 
                                                
                                                  </span>
                                                  
                                            
                                                </div>
                                               
                                                <div class="width" >
                                                        <input type="number" 
                                                         id="phoneNumber"
                                                          name="phoneNumber"
                                                          pattern=".{10,13}"
                                                          placeholder="phone-number"
                                                          class="form-control"
                                                          ngModel
                                                          required
                                                          #phoneNumber="ngModel"
                                                        
                                                          minlength="10"
                                                          #phoneNumber="ngModel"
                                                        >
                                                        <span class="help-block" *ngIf="!phoneNumber.valid && phoneNumber.touched">please enter phone number</span> 
                                                </div>
                                            
                                                <div class="width" >
                                                    <input type="email" 
                                                     id="email"
                                                      name="email"
                                                      placeholder="email"
                                                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                                                      class="form-control"
                                                      ngModel
                                                      required
                                                      #email="ngModel"
                                                >
                                                   <span class="help-block" *ngIf="email.touched && !email.valid">please enter correct email</span>
                                               </div>
                                            
                                               <div  class="width">
                                               <input 
                                               type="password" 
                                                 id="password"
                                                 placeholder="password"
                                                 name="password"
                                                pattern = "((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})"
                                                class="form-control"
                                                required
                                                ngModel
                                                #password="ngModel">
                                                <span class="help-block" *ngIf="!password.valid && password.touched">please enter strong password of minimum 6 length</span>
                                               </div>
                                            
                                             
                                                <div class="width"  [class.has-error]="confirmPassword.touched && confirmPassword.invalid">    
                                                 <input
                                                 name="confirmPassword" 
                                                 type="password"
                                                 placeholder="confirm-Password"
                                                 appConfirmEqualValidator="password"
                                                 class="form-control"
                                                 id="confirmPassword"
                                                 required
                                                 ngModel
                                                 #confirmPassword ="ngModel"
                                                 >
                                                 <span  class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">ConfirmPassword is reqired</span>
                                                 <span  class="help-block  "*ngIf="!confirmPassword.touched && confirmPassword.errors?.notEqual">password not equal</span>
                                            
                                                </div>
                                                
                                            
                                                
                                                <!-- <div class="width" >
                                                 <label for="File">Please Uplode Your Profile Pic (OPTIONAL)</label>
                                                 <input 
                                                 type="file" 
                                                 class="form-control-file" 
                                                 ngModel
                                                 id="File"
                                      N           name="file">
                                                 </div> -->
                                            
                                                 <button class="Button"  type="submit">Signup</button>
                                            </form>
                       <p class="margin">Already have an account ?<a routerLink="/login">login</a></p>

  
                       </div>

                </div>
        </div>

</div>
