<div class="background">
    <nav class="navbar-default"> 
        <div class="navbar-margin">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#"><span class="pre">Shopping</span><Span class="post">Elf</Span></a>
            
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">       
                  
         
            <ul class="nav navbar-nav navbar-right">
             
              
             
             
              <li class="items">
                <a routerLink="/sellerProduct" *ngIf="serverService.loggedIn2()" > 
                <span class="color">  
                  <span class="glyphicon glyphicon-briefcase"></span>  My Products
                </span>
                </a>
              </li>
    
             <li class="items"  >
               <a routerLink="/seller/login" *ngIf="! serverService.loggedIn2()" >
              <span class="color">
                <span class="glyphicon glyphicon-user" ></span> 
              Log in
             </span>
              </a>
            </li>
             
             
              <li class="items">
                   <a routerLink="/seller/signup" *ngIf="! serverService.loggedIn2()"  >
                 <span class="color">
                    <span class="glyphicon glyphicon-user" ></span> 
                    Sign Up
                </span>
                  </a> 
              </li>
    
              <li class="items">
                <a routerLink="/frontpage"  (click)="remove()" *ngIf="serverService.loggedIn2()" >
              <span class="color">
                 <span class="glyphicon glyphicon-user" ></span> 
                  logOut
             </span>
               </a> 
           </li>
    
              
            </ul>
          </div>
        </div>
      </nav>     
    
    </div>