
.name
{
    letter-spacing:2px;
    font-size:130%;
    cursor: pointer;
    color:#154360;
     transition: color 0.4s;
     transition:text-shadow 0.2s;
}
.name:hover{
  color:#F4D03F;

  
}
a{
  text-decoration: none;
}
