
<div class=" background">
    <div class="center">
        <img class="image"src="/assets/bag.svg">
    </div>
    <div class="row">
    <div class="col-md-7 col-xs-12 padding">
        
       
          <app-product-bag-item 
          *ngFor="let order of orders; let i=index" 

          [order]="order"
          [index]="i">
    
         </app-product-bag-item>

    </div>

    <div class="col-md-4 col-xs-12 border">
               
      <!-- <div class="row">
       
            <div class=col-xs-3><img class=".img-responsive"src="/assets/notebook.svg" ></div>
       
               <div class="heading2 col-xs-6">Cost Details</div>
       
          <div class="col-xs-3"></div>
     
      </div> -->
          <app-prodict-cost
          
          *ngFor="let order of orders; let i=index" 

          [order]="order"
          [index]="i"

          >
            
         </app-prodict-cost>
         <!-- <div class="total"> Total cost = {{total}} RS</div> -->
         <div class="row total" >
             <div class="col-xs-4">
                 Total Cost
             </div>
             <div class="col-xs-4"></div>
             <div class="col-xs-4">{{total}} Rs</div>
         </div>



    </div>
    </div>
</div>