.background
{
    min-height:680px;
}
.heading,.heading2
{
    text-align:center;
    color:#2980B9;
   font-size:200%;
   /* margin-top:1%; */
   border-bottom:2px solid;
   letter-spacing: 2px;
}

/* .bag {
     position:absolute;
    width:100%;
    height:500px;
    background:rgba(0,0,0,0.5);
     
} */

.heading2{
    margin-top:9%;
}
.total
{
    text-align: right;
    margin-top:5%;
    font-size:150%;
    color:#2980B9;
    letter-spacing: 2px;
}
.image
{
    height:120px;
}
.background{
    background:url('/assets/bagbg.png');
    background-repeat:no-repeat;
    
}
.center
{

    text-align: center; 
    padding-top:3%;    
    

}
.border
{
    border:2px solid #F9E79F;
    background:white;
}
.Button
{
    background:#F9E79F  ;
    border:2px solid #F9E79F ;
    color:#1F618D ;
    border-radius:3%;
    font-size:120%;
    box-shadow: 0px 0px 3px #ECF0F1 ;
    transition:box-shadow 0.3s;
    transition:color 0.3s;

}
.Button:hover{
    box-shadow: 0px 0px 0px #ECF0F1 ;
    color:white;
}
.align
{
    text-align:right;
    padding:2%;
}