
<app-navbar></app-navbar>

<div class="background" >

    <div  class="center">
        <img  class="image"src="/assets/bag.svg">
    </div>
    <div class="row">
    <div class="col-md-7 col-xs-12 padding">
        
       
          <app-product-bag-item 
          *ngFor="let order of orders; let i=index" 

          [order]="order"
          [index]="i">
    
         </app-product-bag-item>

    </div>

    <div class="col-md-4 col-xs-12 border">
               
      
          <app-prodict-cost
          
          *ngFor="let order of orders; let i=index" 

          [order]="order"
          [index]="i"

          >
            
         </app-prodict-cost>
         <!-- <div class="total"> Total cost = {{total}} RS</div> -->
         <div class="row total" >
             <div class="col-xs-4">
                 Total Cost
             </div>
             <div class="col-xs-4"></div>
             <div class="col-xs-4">{{total}} Rs</div>
         </div>

      <div class="align">   <button (click)="order()" class="Button">order now</button> </div>

    </div>

    </div>
</div>
<app-footer></app-footer>
