<!-- <div class="margin" >
        <div class="row">
           
            <div class="col-xs-3">
           
                <img  [src]="order.picture3">
           
            </div>
           
            <div class="col-xs-3 margins">
           
                    {{order.ProductBrand}}

           
                <div class="margins2"> 

                        {{order.ProductName}}

                </div>
           
            </div>
           
            <div class="col-xs-3 margins" >
                    
                <div class="margins2">
                    <div *ngFor=" let size of Size let num=index" >
                       
                        <div *ngIf="num==indx">
                        {{size.productSize}}
                    </div>
                    </div>


                
                        <span ><button *ngIf="order.OrderQ >1" (click)="subtract()" class="Button">-</button></span>     

                
                        <span>{{order.OrderQ}}</span>  
                        <span ><button (click)="add()"class="Button">+</button></span>
                  
                
                    </div>
           
                </div>
           
                <div class="col-xs-2 margins">
           
                   Rs {{order.productPrice}}


                <div class="margins2">
                
                

                  

                    <a (click)="remove()" >
           
                            <span class="glyphicon glyphicon-remove"></span></a>
                
                
                </div>
            
            </div>
    


   
       </div>
</div> -->

<div  *ngIf="dropdown"class="dropdown">
   <div> <button (click)="call(1)" class="button"> 1 </button> </div>

   <div> <button (click)="call(2)" class="button">  2 </button> </div>

   <div> <button (click)="call(3)" class="button"> 3 </button> </div>
   <div> <button (click)="call(4)" class="button"> 4 </button> </div>
   <div> <button (click)="call(5)" class="button"> 5 </button> </div>
   <div> <button (click)="call(6)" class="button"> 6 </button> </div>
   <div> <button (click)="call(7)" class="button"> 7 </button> </div>
   <div> <button (click)="call(8)" class="button"> 8 </button> </div>
   <div> <button (click)="call(9)" class="button">9 </button> </div>
   <div> <button (click)="call(10)" class="button"> 10 </button> </div>
</div>

     

<div class="row item">
    <div class="col-xs-3">
        <img class="responsive" src="{{order.SizeModel.ProductModel.picture1 }}">
    </div>
    <div class="col-xs-3">
     <div class="brand"> {{order.SizeModel.ProductModel.productBrand}}</div>
     <div class="price">Price:{{order.SizeModel.productPrice}}</div>
    </div>
    <div class="col-xs-3">
        <div class="name">{{order.SizeModel.ProductModel.productName}}</div>
        <div class="quantity">Quantity :{{order.Quantity}}</div>
    </div>
    <div class="col-xs-3">
    <div> <span class="size">{{order.SizeModel.productSize}}</span>   <span (click)="delete()" class="cross"><span class="glyphicon glyphicon-remove"></span></span></div>
        <div (click)="drop()" class="btn btn-primary">Quantity <span class="glyphicon glyphicon-chevron-down"></span></div>
    </div>
</div>