<div class="margin" >
        <div class="row">
           
            <div class="col-xs-3">
           
                <img  [src]="order.picture3">
           
            </div>
           
            <div class="col-xs-3 margins">
           
                    {{order.productBrand}}

           
                <div class="margins2"> 

                        {{order.productName}}

                </div>
           
            </div>
           
            <div class="col-xs-3 margins" >
                    
                <div class="margins2">
                    <div *ngFor=" let size of Size let num=index" >
                       
                        <div *ngIf="num==indx">
                        {{size.productSize}}
                    </div>
                    </div>


                
                        <span ><button *ngIf="order.OrderQ >1" (click)="subtract()" class="Button">-</button></span>     

                
                        <span>{{order.OrderQ}}</span>  
                        <span ><button (click)="add()"class="Button">+</button></span>
                  
                
                    </div>
           
                </div>
           
                <div class="col-xs-2 margins">
           
                   Rs {{order.productPrice}}


                <div class="margins2">
                
                

                  

                    <a (click)="remove()" >
           
                            <span class="glyphicon glyphicon-remove"></span></a>
                
                
                </div>
            
            </div>
    


   
       </div>
</div>