/* .margin
{
    
    box-shadow: 2px 2px 4px #979A9A;
    margin: 2% 15%;
    background: white;

}
img
{
    width: 90%;
}

.margins
{
margin-top:3px;
font-weight:500;
font-size:20px;
color:#21618C ;
    letter-spacing: 1px;
}

.margins2
{
    margin-top:10px;
    letter-spacing: 2px;
    

}
.Button
{
    border-radius: 10%;
    background: #3498DB;
    border:2px solid #3498DB ;
    color: white;
     width:30%;
     height:30px;
     margin: 0px 1px;
     text-align:center;
    
}

.letter
{
} */
.responsive
{
    width:100%;
    height:auto;
}
.col-xs-3
{
    text-align:center;

}
.btn-primary
{
  padding:2%;
  background:#F8C471 ;
  border:2px solid #F8C471;
}
.glyphicon-chevron-down
{
    font-size:10px;
}
.item
{
    margin:2% 10%;
     background:white;
    padding: 1%;
    box-shadow:1px 2px 4px #D0D3D4 ;
    border-radius:1%;
}
.brand
{
    color:#2874A6;
    font-size: 170%;
    letter-spacing:1px;
}


.dropdown
{
    
     background:#FDEBD0  ;
     position:fixed;
     top:40%;
     left:50%;
    width:150px;
     z-index:1;
     box-shadow:0px 0px 2px #D0D3D4 ;
     border-radius:1%;
     animation :change 1s 1;
     text-align:center;
}
.button
{
    
    background:#FDEBD0;
    border:2px solid #FDEBD0;
    color:#2471A3 ;
}

@keyframes change
{
    from
    {
        top:0%;
    }
    to{
        top:40%;
    }

}