.image
{
    width: 100%;
    max-height: 500px;
}
.background
{
    background: url(/assets/unique-background.svg) no-repeat ;
    background-size:cover ;
    background-position:center;
    border: solid 2px red;

    height: 800px;
    
}
.center
{
    text-align: center;
    margin-top: 20px;
}