
.size{
     width: 100%;
     height: 500px;
}
.background
{
    background:#FFFDF4;
}

.image
{
    height: 400px;

}  
#slider1
{
  width:100%;
  height:500px
}
.display
{
  display:none
}
.padding
{
    padding: 3%;
     
    margin-top:5%;
    box-shadow: 1px 1px 4px #7B7D7D ;
    border-radius: 2%;
}
.para
{
    font-size:150%;
   letter-spacing: 2px;

}

.hello{
    margin: 6% 1%;
     

}

.center
{
    font-size:150%;
    color:#154360 ;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    text-shadow:0px 0px 1px #2E86C1;
}
.font
{
    font-size: 200%;
}
.opacity
{
color:#E9F7EF 
}

.fixed
{
    position:sticky;
    top:0;
    left:2px;
    background:#FFFDF4;
    box-shadow:0px 0px 4px #D0D3D4 ;
    
}
.filterbg
{
    background:white;

}
.align
{
    margin:2%;
   
}

.icon
{
  display:none;
}

.margin
{
    margin:4% 0%;
}

.name,.name1
{
    letter-spacing:2px;
    font-size:130%;
    cursor: pointer;
    color:#154360;
    transition: color 0.2s;

}
.name:hover{
  color:#F4D03F;
  
  

}
.name1:hover 
{
    color:#F4D03F;
}
a{
  text-decoration: none;
}

@media only screen and (max-width: 1222px) {

    .shadow
    {
        padding:3%
    }

}
@media only screen and (max-width: 837px) {

    .shadow
    {
        padding:2%
    }

}
@media only screen and (max-width: 642px) {

    .shadow
    {
        padding:12%;
    }

}
@media only screen and (max-width: 401px) {

    .shadow
    {
        padding:0%
    }

}
@media only screen and (max-width: 642px) {

    .shadow
    {
        padding:10%;
        text-align:center;
    }

}
@media only screen and (max-width: 513px) {

    .shadow
    {
        padding:3%;
    }

}
@media only screen and (max-width: 431px) {

    .shadow
    {
        padding:1%;
    }

}
@media only screen and (max-width: 992px) {

    .hello{
        margin:0%;
    }
}
@media only screen and (max-width: 416px) {

    .shadow
    {
        padding:1% 16%;
    }

}
@media only screen and (max-width: 991px) {
    .display
    
     {
        display:none       
    
     }

     #slider1
     {
         height:300px;
     }
      .fixed{
              z-index:1;   
               
     } 
     
     .center{
         font-size: 110%;
     }
      .name,.name1{
          font-size:90%;
      }
     
     
  }
  @media only screen and (max-width:769px)
  {
      .hello{
          text-align:center;
      }

       .disappear
       {
          display:none;
       }
       .center{
           margin-bottom:1%;
           text-shadow:0px 0px 1px #2874A6 ;
           cursor: pointer;
           transition:color 0.3s;
       }
       .center:hover{
           color:#F7DC6F 
       }

       .icon{
           display: block
       }
  }