

/* img{
    width: 520px;   
    height:270px;
    border-radius:1%;
    box-shadow: 0px 0px 1px #979A9A;
  
 } */
 .background
 {
     
     width: 250px;
     padding: 15px;
     background: #FCF3CF;
}

.name,.brand,.price
{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left:10px;
    transition: margin-top 0.5s;

}
.name-hover{
  margin-top: 40px;
}

.text
{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}

.price,.name
{
  font-weight:600;
}


 .Button{
     
    background: #E91D83;
    color: white;
    border: 2px solid #E91D83;
    border-radius: 5px ;
    height: 40px;
    width: 150px;
  
   
    margin: 10px  30px;
       }

  .Button:hover
  {
   
   background: #85C1E9 ;
   border-color:#85C1E9
  
  }   
  .btn-background
  {
    background:white;
      position: absolute;
    top: 235px;
    width: 220px; 
   
    transition: opacity 0.5s;
    
    

  } 
  
  .arrow,.btn-background
  {
    opacity:0;
  }



  .shadow
  {
      box-shadow: 0px 0px 1px #D7BDE2 ; 
      border-radius:1px;
      border-radius: 1px;
      transition: box-shadow 1s;
      height: 350px;
     background: white;
      

       
  }    
  .shadow:hover{
    box-shadow: 0px 0px 15px #979A9A;
  }
  .show
  {

   opacity:1
    
  }
  .showImg
  {
    height:250px;
  }
 
 