.background
{
    min-height:620px;
    background:#F7F9F9  ;
    
    background-repeat:no-repeat;
     background-size:cover;
     text-align:center;
}


.images{
    width:100vh;
    
}
.position
{
   z-index: 1;
}
@media only screen and (max-width: 1204px)
{
    /* img
    {
        width:20vh;
    }*/
    images
    {
        width:80vh;
    }
    .background{
        padding-top:10%;
    }
   
} 
