.background
{
    background:url('/assets/newbackground.png');
    height:660px;
    padding-top: 9%;
    


}
.row
{
   height: 300px; 
   margin: 0%  10%;
   /* background: ; */
   /* box-shadow:0px 0px 1px; */
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2471A3 ;
    letter-spacing: 2px;
  }

.image
{
     width: 100%;
    padding:5% ;
    height: 500px;
}


.form-control
{
 box-shadow: 1px 1px 2px #4D5656;
 height: 40px;
}
.form
{
    text-align: center;
    padding-top:10%;
}
.width
{
    width: 60%;
    margin-top: 4%;
    margin-left: 20%;

}
.heading
{
    font-family: 'Montserrat', sans-serif;
    color:#2471A3;
    letter-spacing: 2px;
    text-shadow:0px 0px 1px #2874A6 ;
    margin-bottom:10%;
}
.help-block
{
    color:red;
    letter-spacing: 1px;
}
 

.cursor
{
cursor:not-allowed;
}
.border
{
    border-left: 3px solid #1B4F72  ;
    border-radius:3%;

}


.Button
{
    background: #45B39D;
    padding: 7px  10px;
    color: white;
    border:2px solid #45B39D;
    border-radius: 10%;
    margin-top: 4%;
    width:100px
}
.Button:hover{
    box-shadow:0px 0px 3px  #4D5656;
}

.margin
{
margin-top: 2%;
font-family: 'Roboto', sans-serif;
}
input.ng-invalid.ng-touched
{
    border:red 1px solid;
}
@media only screen and (max-width: 1000px) 
{

.image
{
      width: 100%;
      padding-top:30% 0% ;
      height: 400px;
}
.width
{
    width: 80%;
    margin-top: 4%;
    margin-left: 20%;
}
.row{
    padding-top: 3%;
}
}
@media only screen and (max-width: 850px)
{
 .display
 {
   display: none;

 }
 .width
{
    width: 100%;
    margin: 5% 35%;
    
}
}

@media only screen and (max-width: 767px)
{
   .width{
     margin:10% 0%;
    }
}
 

