<!-- <nav>
    <div class="logo">
    <h4>The  Nav</h4>
    </div>
<ul class="nav-links " [class.nav-active]="display"   >
    <li [class.nav-linkactive]="display"><a>profile</a></li>
    <li [class.nav-linkactive]="display"><a>Wishlist</a></li>
    <li [class.nav-linkactive]="display"><a>Bag</a></li>
    <li [class.nav-linkactive]="display"><a>Login</a></li>
    <li [class.nav-linkactive]="display"><a>Signup</a></li>

</ul>
<div class="burger" (click)="Ondisplay()">
<div class="line1" [class.changeline1]="display" ></div>
<div class="line2"[class.changeline2]="display"></div>
<div class="line3"[class.changeline3]="display"></div>    
</div>
</nav> -->
<div class="background">
<nav class="navbar-default"> 
    <div class="navbar-margin">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">LOGO</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">       
                <ul  class=" nav navbar-nav navbar-left">
          
            <li class="items" ><a    (click)="menProducts()"
              routerLink="products"
              ><span class="color">Men</span> </a></li>
            <li  class="items"><a    (click)="womenProducts()"
              routerLink="products"
              
              ><span class="color">Women</span></a></li>
            <li  class="items"><a    (click)="kidsProducts()"
              routerLink="products"
              
              ><span class="color">Kids</span></a></li>

    
        </ul>
     
        <ul class="nav navbar-nav navbar-right">
         
          <!-- <li class="items">
           <a>
            
            </a>
          </li> -->
          <li class="dropdown">
              <a   class="dropdown-toggle" data-toggle="dropdown">
                 
                <span class="color items">
                      Profile
                      </span> </a>

              <ul class="dropdown-menu">
                <li class="margin" ><a   routerLink="/orders" class="color1" >  My Orders </a></li>
              </ul>
            </li>
         
          <li class="items">
            <a routerLink="/bag"> 
            <span class="color">  
              <span class="glyphicon glyphicon-briefcase"></span>  Bag
            </span>
            </a>
          </li>

         <li class="items"  >
           <a routerLink="/login" >
          <span class="color">
            <span class="glyphicon glyphicon-user" ></span> 
          Log in
         </span>
          </a>
        </li>
         
         
          <li class="items">
               <a routerLink="/signup">
             <span class="color">
                <span class="glyphicon glyphicon-user" ></span> 
                Sign Up
            </span>
              </a> 
          </li>

          
        </ul>
      </div>
    </div>
  </nav>     

</div>