<div class="row margin">
    <div class="col-xs-3 border">
      <img class="image"src="{{image}}">
    </div>
    <div class="col-xs-3 border">
      <div class="brand">  {{Sail.productBrand}}</div>
        <div class="name">  {{Sail.productName}}</div>
    </div>
    <div class="col-xs-3 border">
       <div class="quantity"><span class="heading">Quantity</span>:<span class="answer">{{Sail.productQuantity}}</span> </div>
         <div class="size"><span class="heading">Size </span>:<span class="answer">{{Sail.productSize}}</span></div>

    </div>
    <div class="col-xs-3" >
      <span class="price">Price</span>:<span class="answer">{{Sail.productPrice}} Rs</span>
    </div>

</div>
<hr>