

 
  
<div class="background">

<div class="top row">

     
    <div class="col-sm-3 col-lg-4 col-xs-1 "  ></div>
     
    <div class="col-sm-6  col-lg-4 center-image  col-xs-10">
       <img class="image-top  img-responsive"  src="/assets/image.5.svg">
    </div>
       
    <div class="col-sm-3 col-lg-4 col-xs-1" ></div>
   
    </div>




         <div class="large-padding">
                <div class="border">
                    <div class="border1">
                        <div class="font1">
                            Shopping shouldn't be a task 
                        </div>
                        <div class="font2">
                            Let's divide and conqure
                        </div>
                    </div>
                </div>
            </div> 

     <div class="row margin">
    
    
    

    
    <div  (click)=" menProducts()" class="col-sm-4 col-xs-12" >
        
        <img  class="image1 img-responsive" src="/assets/man 8.png">
        <div  class="text">Men</div>

    </div>
   
     
        
    <div (click)="womenProducts()" class="col-sm-4  col-xs-12 ">

        <img class="image1" src="/assets/Women 8.png">
        <div  class="text">Women</div>
        
    </div>

    
    <div (click)="kidsProducts()" class="col-sm-4 col-xs-12">
          
         <img class="image1" src="/assets/kids 8.png">
        <div class="text">Kids</div>

            
     </div>
   

        
</div> 

<div class="background_bottom row">
 
    <div class="col-md-1 col-sm-0" >

    </div>

    <div class="col-md-5 col-sm-6 image-setting" >
        <img class="img-height" src="/assets/mainImage.svg">
    </div>

    <div class="col-md-5 col-sm-6 paragraph-setting">
     
        <div class="paragraph">

                Men from far and near visit online marketplaces to buy and sell goods. 
                The most striking feature in online market is that it is free of large crowd 
                and noise. A person can visit the online shopping site during his free time and place orders to buy an item.
            
        </div>

    </div>
    <div class="col-md-1 col-sm-0">

    </div>

</div>



    

<div class="center">Top Brands</div>
<div class="row">
    <div class="col-sm-4 img-center">
        <img  class="img-margin" src="/assets/Black-berry.jpg">
        <br>
        <img class="img-margin" src="/assets/kook.jpg">


    </div>
    <div class="col-sm-4 img-center">
        <img  class="img-margin"src="/assets/skult.jpg">
        <br>
        <img class="img-margin" src="/assets/woodland.jpg">


    </div>
    <div class="col-sm-4 img-center">
        <img  class="img-margin" src="/assets/agani.jpg">
        <br>
        <img class="img-margin" src="/assets/pepeJens.jpg">


    </div>
</div>

</div>