

.name
{
    letter-spacing:2px;
    font-size:130%;
    cursor: pointer;
    color:#154360;
    transition: color 0.4s;
     transition:text-shadow 0.4s;
}
.name:hover{
  color:#F4D03F;
  
  text-shadow: 0px 0px 1px #A9CCE3;

}
a{
  text-decoration: none;
}
