<div class="background row">
    <div class="col-md-3"></div>
    <div class="col-md-3 center">
        <div class="items" >
            <a     (click)="menProducts()"
            routerLink="/products"
            >
            
           </a>
          </div>

          <div  class="items "><a  
           (click)="womenProducts()"
            routerLink="/products"
              >
            Women
          </a>
         </div>
          <div class="items" >
          <a    (click)="kidsProducts()"
           
          routerLink="/products"
            
         >
         Kids
        </a>
         </div>

    
    </div> 
    <div class="col-md-3  center">


            <div class="items" >
                    <a routerLink='/seller/signup'>
                        <span class="special">
                    Become a seller
                    </span>
                   </a>
                  </div>
        
                  <div  class="items">
                      <a >
                    Contact
                  </a>
                 </div>
                  <div class="items" >
                  <a  >
                  About Us
                </a>
                 </div>

    </div>
    <div class="col-md-3">

    </div>
</div>
