/* .center
{
    text-align: center;
}
.items
{
    margin:8% 0%;
    color:#1A5276;
    letter-spacing:2px;
    font-size:120%;
    font-family: 'Montserrat', sans-serif;
     text-shadow:0px 0px 2px #3498DB;

}
.background
{
    background:#FAD7A0;
}
.special
{
    font-size:150%;
    animation: mymove 2s infinite;
}

@keyframes mymove {
    0% {color: #1A5276;}
    50% { color:#E74C3C;}
    100%{ color: #1A5276;}
  } */

  .para
  {
    color:#154360 ;
    font-size:120%;
    letter-spacing: 2px;
  }
  .background
  {
    background:#FCF3CF;

  }
  .heading
  {
    color:#154360;
    text-align: center;
  }
   .center
   {
     text-align: center;
     color:#1B4F72;
     transition: color 0.2s;
     font-size: 120%;;
   }
   .center:hover
   {
     color:#F4D03F;
   }
   .center-img
   {
     text-align:center;
   }
   a{
     text-decoration: none;
   }
   .image
   {
       width:100%;
   }
   .padding
   {
     padding-top:100px;
   }
   @media only screen and (max-width: 991px)
   {
     .image{
          width:20%;
     }

     .padding{
       padding-top:10px;
     }
   }
   