<!-- <div class="background row">
    <div class="col-md-4 center">
        <div class="items" >
            <a     (click)="menProducts()"
            routerLink="/products"
            >
            
           </a>
          </div>

          <div  class="items "><a  
           (click)="womenProducts()"
            routerLink="/products"
              >
            Women
          </a>
         </div>
          <div class="items" >
          <a    (click)="kidsProducts()"
           
          routerLink="/products"
            
         >
         Kids
        </a>
         </div>

    
    </div> 
    <div class="col-md-4  center">


            <div class="items" >
                    <a routerLink='/seller/signup'>
                        <span class="special">
                    Become a seller
                    </span>
                   </a>
                  </div>
        
                  <div  class="items">
                      <a >
                    Contact
                  </a>
                 </div>
                  <div class="items" >
                  <a  >
                  About Us
                </a>
                 </div>

    </div>
    <div class="col-md-4">

    </div>
</div> -->
<div class="background">
  <div class="row">
    <div class="col-md-3 center">
      <img class="image" src="/assets/footer.svg">
    </div>
    <div  class="col-md-2 center-img">
        <h3 class="heading">Shop online</h3>
    
        <div class="center "  ><a (click)="menProducts()" routerLink="/products">Men</a></div>
        <div class="center" ><a  (click)="womenProducts()" routerLink="/products">Women</a></div>
    
        <div class="center" ><a (click)="kidsProducts()" routerLink="/products">Kids</a></div>
    
      </div>
      <div class="col-md-2">
          <Div class="row padding">
            <div class="col-md-6 center-img">
               <img class="image " src="/assets/app1.png">
            </div>
            <div class="col-md-6 center-img">
               <img class="image " src="/assets/app2.png">
               
            </div>
          </Div>
       </div>
     

            <div class="col-md-3">
              <h3  class="heading">Become a seller</h3>
              <div class="center"><a  routerLink="/seller/signup">Signup to sell</a></div>
               <div class="center"><a routerLink="/seller/login">Login to sell</a></div>              


            </div>
            <div class="col-md-2">
                <h3 class="heading">Top Brands</h3>
                <div class="center">Woodland</div>
                <div class="center">Kook N Keech</div>
            
                <div class="center">Pepe Jens</div>
                <div class="center">Agaani</div>
                <div class="center">Skult</div>
                <div class="center">BlackBerry</div>
        
        
                 </div>
         
  </div>
  
  <div class="para"> <p style="color:#1B4F72 ">shopping Elf: THE ULTIMATE DESTINATION FOR ONLINE SHOPPING IN INDIA</p>
    If you would like to experience the best of online 
    shopping for men, women and kids in India, you are at the right place.
     Myntra is the ultimate destination for fashion and lifestyle, being host to a 
     wide array of merchandise including clothing, footwear, accessories, jewellery, 
     personal care products and more. It is time to redefine your style statement with
      our treasure-trove of trendy items. Our online store brings you the latest in 
      designer products straight out of fashion houses. 
    You can shop online at Myntra from the comfort of your home and get your favourites
     delivered right to your doorstep.</div>
</div>